In [308]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [309]:
#wczytanie danych

dane = pd.read_csv('abt_app.csv',sep = '\t',decimal = '.')

In [310]:
dane = pd.DataFrame(dane)

In [311]:
dane.head()

,cid,aid,product,period,act_age,act_cc,act_loaninc,app_income,app_loan_amount,app_n_installments,...,default3,default6,default9,default12,default_cross3,default_cross6,default_cross9,default_cross12,cross_app_loan_amount,cross_app_n_installments
0,1330,css1975010100098,css,197501,45.0,0.326905,1.530456,3267.0,5000.0,24.0,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2179,css1975010100120,css,197501,42.0,0.538908,2.903600,1722.0,5000.0,24.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,146,css1975010200014,css,197501,59.0,0.543742,3.364738,1486.0,5000.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5000.0,24.0
3,479,css1975010200047,css,197501,63.0,0.587702,3.236246,1545.0,5000.0,24.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4514,css1975010200151,css,197501,48.0,0.436407,1.506932,3318.0,5000.0,24.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [312]:
#usunięcie nieistotnych kolumn podanych na zajęciach

dane = dane.drop(['aid','cid','period','cross_aid','default3','default6', 'default9',
                'default_cross3','default_cross6','default_cross9','default_cross12'],axis = 1)

In [313]:
dane.head()

,product,act_age,act_cc,act_loaninc,app_income,app_loan_amount,app_n_installments,app_number_of_children,app_spendings,app_installment,...,ags12_Min_CMaxA_Due,act12_n_arrears,act12_n_arrears_days,act12_n_good_days,decision,cross_response,cross_after_monhs,default12,cross_app_loan_amount,cross_app_n_installments
0,css,45.0,0.326905,1.530456,3267.0,5000.0,24.0,3.0,860.0,208.0,...,0.0,10.0,2.0,4.0,A,0.0,NaN,1.0,NaN,NaN
1,css,42.0,0.538908,2.903600,1722.0,5000.0,24.0,1.0,720.0,208.0,...,0.0,0.0,0.0,1.0,A,0.0,NaN,0.0,NaN,NaN
2,css,59.0,0.543742,3.364738,1486.0,5000.0,24.0,2.0,600.0,208.0,...,0.0,4.0,0.0,1.0,A,1.0,4.0,0.0,5000.0,24.0
3,css,63.0,0.587702,3.236246,1545.0,5000.0,24.0,0.0,700.0,208.0,...,0.0,3.0,0.0,4.0,A,0.0,NaN,0.0,NaN,NaN
4,css,48.0,0.436407,1.506932,3318.0,5000.0,24.0,2.0,1240.0,208.0,...,0.0,0.0,0.0,10.0,A,0.0,NaN,1.0,NaN,NaN

In [314]:
#opis danych

dane.describe()

,act_age,act_cc,act_loaninc,app_income,app_loan_amount,app_n_installments,app_number_of_children,app_spendings,app_installment,act_call_cc,...,agr12_Min_CMaxA_Due,ags12_Min_CMaxA_Due,act12_n_arrears,act12_n_arrears_days,act12_n_good_days,cross_response,cross_after_monhs,default12,cross_app_loan_amount,cross_app_n_installments
count,11437.000000,11437.000000,11437.000000,11437.000000,11437.0,11437.0,11437.000000,11437.000000,11437.0,11437.000000,...,8562.000000,11437.000000,11437.000000,11437.000000,11437.000000,11437.000000,4261.000000,9861.000000,4261.0,4261.0
mean,62.945703,0.573563,4.537371,1689.843578,5000.0,24.0,0.678849,626.248142,208.0,0.996984,...,0.024644,0.018449,3.725802,0.123109,5.270001,0.372563,4.140812,0.490417,5000.0,24.0
std,10.841513,0.195650,3.117308,1270.424921,0.0,0.0,0.889654,543.503164,0.0,0.500551,...,0.155046,0.134574,3.518478,0.393265,2.792088,0.483508,0.347868,0.499934,0.0,0.0
min,25.000000,0.065157,0.316857,300.000000,5000.0,24.0,0.000000,0.000000,208.0,0.099325,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,5000.0,24.0
25%,55.000000,0.444740,2.392344,868.000000,5000.0,24.0,0.000000,300.000000,208.0,0.652535,...,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,4.000000,0.000000,5000.0,24.0
50%,63.000000,0.570302,3.396739,1472.000000,5000.0,24.0,0.000000,480.000000,208.0,0.895154,...,0.000000,0.000000,3.000000,0.000000,5.000000,0.000000,4.000000,0.000000,5000.0,24.0
75%,70.000000,0.687358,5.760369,2090.000000,5000.0,24.0,1.000000,760.000000,208.0,1.230357,...,0.000000,0.000000,6.000000,0.000000,7.000000,1.000000,4.000000,1.000000,5000.0,24.0
max,92.000000,1.295238,16.666667,15780.000000,5000.0,24.0,3.000000,8040.000000,208.0,5.299674,...,1.000000,1.000000,12.000000,5.000000,12.000000,1.000000,5.000000,1.000000,5000.0,24.0

In [315]:
print(dane.shape)

(11437, 208)

In [316]:
#usunięcie wierszy z brakującymi wartościami dla targetu, czli kolumny default12

dane = dane.dropna(subset = ['default12'])
print(dane.shape)

(9861, 208)

In [317]:
#z opisu widać, że są kolumny, które mają wszędzie te same wartości liczbowe
#usunę je, bo nie będą istotnym parametrem modelu
#łatwiej usunąć kolumny, niż wybierać te istotne ze wszystkich dostępnych
#wykorzystam odchylenie standardowe, bo nie ma równego podziału wartości w danych

dane.std() == 0

act_age                     False
act_cc                      False
act_loaninc                 False
app_income                  False
app_loan_amount              True
app_n_installments           True
app_number_of_children      False
app_spendings               False
app_installment              True
act_call_cc                 False
act_cins_n_loan             False
act_ccss_n_loan             False
act_call_n_loan             False
act_cins_seniority          False
act_cins_min_seniority      False
act_cins_n_loans_hist       False
act_cins_n_statC            False
act_cins_n_statB            False
act_cins_n_loans_act        False
act_cins_maxdue             False
act_cins_min_pninst         False
act_cins_min_lninst         False
act_cins_utl                False
act_cins_dueutl             False
act_cins_cc                 False
act_ccss_seniority          False
act_ccss_min_seniority      False
act_ccss_n_loans_hist       False
act_ccss_n_statC            False
act_ccss_n_statB            False
                            ...
agr12_Max_CMaxC_Days        False
ags12_Max_CMaxC_Days        False
agr12_Min_CMaxC_Days        False
ags12_Min_CMaxC_Days        False
agr12_Mean_CMaxC_Due        False
ags12_Mean_CMaxC_Due        False
agr12_Max_CMaxC_Due         False
ags12_Max_CMaxC_Due         False
agr12_Min_CMaxC_Due         False
ags12_Min_CMaxC_Due         False
agr12_Mean_CMaxA_Days       False
ags12_Mean_CMaxA_Days       False
agr12_Max_CMaxA_Days        False
ags12_Max_CMaxA_Days        False
agr12_Min_CMaxA_Days        False
ags12_Min_CMaxA_Days        False
agr12_Mean_CMaxA_Due        False
ags12_Mean_CMaxA_Due        False
agr12_Max_CMaxA_Due         False
ags12_Max_CMaxA_Due         False
agr12_Min_CMaxA_Due         False
ags12_Min_CMaxA_Due         False
act12_n_arrears             False
act12_n_arrears_days        False
act12_n_good_days           False
cross_response              False
cross_after_monhs           False
default12                   False
cross_app_loan_amount        True
cross_app_n_installments     True
Length: 199, dtype: bool

In [318]:
sum(dane.std() == 0)

6

In [319]:
#mam tylko 6 takich kolumn, usuwam je

dane = dane.drop(['app_loan_amount','app_n_installments','app_installment','act_cus_active','cross_app_loan_amount','cross_app_n_installments'],axis = 1)

In [320]:
#przegląd typów kolumn

dane.dtypes

product                     object
act_age                    float64
act_cc                     float64
act_loaninc                float64
app_income                 float64
app_number_of_children     float64
app_spendings              float64
app_char_branch             object
app_char_gender             object
app_char_job_code           object
app_char_marital_status     object
app_char_city               object
app_char_home_status        object
app_char_cars               object
act_call_cc                float64
act_cins_n_loan            float64
act_ccss_n_loan            float64
act_call_n_loan            float64
act_cins_seniority         float64
act_cins_min_seniority     float64
act_cins_n_loans_hist      float64
act_cins_n_statC           float64
act_cins_n_statB           float64
act_cins_n_loans_act       float64
act_cins_maxdue            float64
act_cins_min_pninst        float64
act_cins_min_lninst        float64
act_cins_utl               float64
act_cins_dueutl            float64
act_cins_cc                float64
                            ...
ags12_Mean_CMaxC_Days      float64
agr12_Max_CMaxC_Days       float64
ags12_Max_CMaxC_Days       float64
agr12_Min_CMaxC_Days       float64
ags12_Min_CMaxC_Days       float64
agr12_Mean_CMaxC_Due       float64
ags12_Mean_CMaxC_Due       float64
agr12_Max_CMaxC_Due        float64
ags12_Max_CMaxC_Due        float64
agr12_Min_CMaxC_Due        float64
ags12_Min_CMaxC_Due        float64
agr12_Mean_CMaxA_Days      float64
ags12_Mean_CMaxA_Days      float64
agr12_Max_CMaxA_Days       float64
ags12_Max_CMaxA_Days       float64
agr12_Min_CMaxA_Days       float64
ags12_Min_CMaxA_Days       float64
agr12_Mean_CMaxA_Due       float64
ags12_Mean_CMaxA_Due       float64
agr12_Max_CMaxA_Due        float64
ags12_Max_CMaxA_Due        float64
agr12_Min_CMaxA_Due        float64
ags12_Min_CMaxA_Due        float64
act12_n_arrears            float64
act12_n_arrears_days       float64
act12_n_good_days          float64
decision                    object
cross_response             float64
cross_after_monhs          float64
default12                  float64
Length: 202, dtype: object

In [321]:
#znalezienie tylko kolumn typu innego niż numeryczny

dane.dtypes[dane.dtypes != 'float64']

product                    object
app_char_branch            object
app_char_gender            object
app_char_job_code          object
app_char_marital_status    object
app_char_city              object
app_char_home_status       object
app_char_cars              object
decision                   object
dtype: object

In [322]:
#przegląd wartości we wszystkich kolumnach typu object

dane['product'].value_counts()

css    9861
Name: product, dtype: int64

In [323]:
dane['app_char_branch'].value_counts()

Empty    9861
Name: app_char_branch, dtype: int64

In [324]:
dane['app_char_gender'].value_counts()

Female    7513
Male      2348
Name: app_char_gender, dtype: int64

In [325]:
dane['app_char_job_code'].value_counts()

Retired          6744
Permanent        2326
Owner company     484
Contract          307
Name: app_char_job_code, dtype: int64

In [326]:
dane['app_char_marital_status'].value_counts()

Maried      4903
Widowed     2583
Divorced    2290
Singiel       85
Name: app_char_marital_status, dtype: int64

In [327]:
dane['app_char_city'].value_counts()

Big       3457
Medium    3283
Small     1706
Large     1415
Name: app_char_city, dtype: int64

In [328]:
dane['app_char_home_status'].value_counts()

Owner           8784
Rental          1076
With parents       1
Name: app_char_home_status, dtype: int64

In [329]:
dane['app_char_cars'].value_counts()

Owner    8584
No       1277
Name: app_char_cars, dtype: int64

In [330]:
dane['decision'].value_counts()

A    9861
Name: decision, dtype: int64

In [331]:
#usunięcie wybranych kolumn, ponieważ zawierają tylko jedną wartość

dane = dane.drop(['product','app_char_branch','decision'],axis = 1)
print(dane.shape)

(9861, 199)

In [332]:
#zamiana wartości w pozostałych kolumnach typu object na wartości liczbowe

dane['app_char_gender'] = np.where(dane['app_char_gender'] == 'Male',0,dane['app_char_gender'])
dane['app_char_gender'] = np.where(dane['app_char_gender'] == 'Female',1,dane['app_char_gender'])

dane['app_char_job_code'] = np.where(dane['app_char_job_code'] == 'Retired',0,dane['app_char_job_code'])
dane['app_char_job_code'] = np.where(dane['app_char_job_code'] == 'Permanent',1,dane['app_char_job_code'])
dane['app_char_job_code'] = np.where(dane['app_char_job_code'] == 'Owner company',2,dane['app_char_job_code'])
dane['app_char_job_code'] = np.where(dane['app_char_job_code'] == 'Contract',3,dane['app_char_job_code'])

dane['app_char_marital_status'] = np.where(dane['app_char_marital_status'] == 'Maried',0,dane['app_char_marital_status'])
dane['app_char_marital_status'] = np.where(dane['app_char_marital_status'] == 'Widowed',1,dane['app_char_marital_status'])
dane['app_char_marital_status'] = np.where(dane['app_char_marital_status'] == 'Divorced',2,dane['app_char_marital_status'])
dane['app_char_marital_status'] = np.where(dane['app_char_marital_status'] == 'Singiel',3,dane['app_char_marital_status'])

dane['app_char_city'] = np.where(dane['app_char_city'] == 'Big',0,dane['app_char_city'])
dane['app_char_city'] = np.where(dane['app_char_city'] == 'Medium',1,dane['app_char_city'])
dane['app_char_city'] = np.where(dane['app_char_city'] == 'Small',2,dane['app_char_city'])
dane['app_char_city'] = np.where(dane['app_char_city'] == 'Large',3,dane['app_char_city'])

dane['app_char_home_status'] = np.where(dane['app_char_home_status'] == 'Owner',0,dane['app_char_home_status'])
dane['app_char_home_status'] = np.where(dane['app_char_home_status'] == 'Rental',1,dane['app_char_home_status'])
dane['app_char_home_status'] = np.where(dane['app_char_home_status'] == 'With parents',2,dane['app_char_home_status'])

dane['app_char_cars'] = np.where(dane['app_char_cars'] == 'Owner',0,dane['app_char_cars'])
dane['app_char_cars'] = np.where(dane['app_char_cars'] == 'No',1,dane['app_char_cars'])

In [333]:
dane.head()

,act_age,act_cc,act_loaninc,app_income,app_number_of_children,app_spendings,app_char_gender,app_char_job_code,app_char_marital_status,app_char_city,...,agr12_Max_CMaxA_Due,ags12_Max_CMaxA_Due,agr12_Min_CMaxA_Due,ags12_Min_CMaxA_Due,act12_n_arrears,act12_n_arrears_days,act12_n_good_days,cross_response,cross_after_monhs,default12
0,45.0,0.326905,1.530456,3267.0,3.0,860.0,1,1,0,0,...,3.0,3.0,0.0,0.0,10.0,2.0,4.0,0.0,NaN,1.0
1,42.0,0.538908,2.903600,1722.0,1.0,720.0,0,1,0,0,...,NaN,0.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
2,59.0,0.543742,3.364738,1486.0,2.0,600.0,1,0,0,0,...,1.0,1.0,0.0,0.0,4.0,0.0,1.0,1.0,4.0,0.0
3,63.0,0.587702,3.236246,1545.0,0.0,700.0,1,0,2,0,...,NaN,2.0,NaN,0.0,3.0,0.0,4.0,0.0,NaN,0.0
4,48.0,0.436407,1.506932,3318.0,2.0,1240.0,1,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,NaN,1.0

In [334]:
#mimo cyfr przekształcane kolumny są nadal typu object

dane['app_char_gender'].unique()

array([1, 0], dtype=object)

In [335]:
#zamiana typu przekształconych kolumn na typ liczbowy int

dane['app_char_gender'] = dane['app_char_gender'].astype('int')
dane['app_char_job_code'] = dane['app_char_job_code'].astype('int')
dane['app_char_marital_status'] = dane['app_char_marital_status'].astype('int')
dane['app_char_city'] = dane['app_char_city'].astype('int')
dane['app_char_home_status'] = dane['app_char_home_status'].astype('int')
dane['app_char_cars'] = dane['app_char_cars'].astype('int')

dane['app_char_gender'].unique()

array([1, 0], dtype=int64)

In [336]:
#szukam kolumn, w których ponad 3000 wartości na obecne 9861 to Nan

dane.columns[dane.count() < 6861]

Index(['act_cins_n_loans_act', 'act_cins_maxdue', 'act_cins_min_pninst',
       'act_cins_min_lninst', 'act_cins_utl', 'act_cins_dueutl', 'act_cins_cc',
       'agr3_Mean_CMaxI_Days', 'ags3_Mean_CMaxI_Days', 'agr3_Max_CMaxI_Days',
       'ags3_Max_CMaxI_Days', 'agr3_Min_CMaxI_Days', 'ags3_Min_CMaxI_Days',
       'agr3_Mean_CMaxI_Due', 'ags3_Mean_CMaxI_Due', 'agr3_Max_CMaxI_Due',
       'ags3_Max_CMaxI_Due', 'agr3_Min_CMaxI_Due', 'ags3_Min_CMaxI_Due',
       'agr3_Mean_CMaxC_Days', 'ags3_Mean_CMaxC_Days', 'agr3_Max_CMaxC_Days',
       'ags3_Max_CMaxC_Days', 'agr3_Min_CMaxC_Days', 'ags3_Min_CMaxC_Days',
       'agr6_Mean_CMaxI_Days', 'ags6_Mean_CMaxI_Days', 'agr6_Max_CMaxI_Days',
       'ags6_Max_CMaxI_Days', 'agr6_Min_CMaxI_Days', 'ags6_Min_CMaxI_Days',
       'agr6_Mean_CMaxI_Due', 'ags6_Mean_CMaxI_Due', 'agr6_Max_CMaxI_Due',
       'ags6_Max_CMaxI_Due', 'agr6_Min_CMaxI_Due', 'ags6_Min_CMaxI_Due',
       'agr6_Mean_CMaxC_Days', 'agr6_Max_CMaxC_Days', 'agr6_Min_CMaxC_Days',
       'agr6_Mean_CMaxC_Due', 'agr6_Max_CMaxC_Due', 'agr6_Min_CMaxC_Due',
       'agr9_Mean_CMaxI_Days', 'agr9_Max_CMaxI_Days', 'agr9_Min_CMaxI_Days',
       'agr9_Mean_CMaxI_Due', 'agr9_Max_CMaxI_Due', 'agr9_Min_CMaxI_Due',
       'agr9_Mean_CMaxC_Days', 'agr9_Max_CMaxC_Days', 'agr9_Min_CMaxC_Days',
       'agr9_Mean_CMaxC_Due', 'agr9_Max_CMaxC_Due', 'agr9_Min_CMaxC_Due',
       'agr9_Mean_CMaxA_Days', 'agr9_Max_CMaxA_Days', 'agr9_Min_CMaxA_Days',
       'agr12_Mean_CMaxI_Days', 'agr12_Max_CMaxI_Days', 'agr12_Min_CMaxI_Days',
       'agr12_Mean_CMaxI_Due', 'agr12_Max_CMaxI_Due', 'agr12_Min_CMaxI_Due',
       'agr12_Mean_CMaxC_Days', 'agr12_Max_CMaxC_Days', 'agr12_Min_CMaxC_Days',
       'agr12_Mean_CMaxC_Due', 'agr12_Max_CMaxC_Due', 'agr12_Min_CMaxC_Due',
       'agr12_Mean_CMaxA_Days', 'agr12_Max_CMaxA_Days', 'agr12_Min_CMaxA_Days',
       'cross_after_monhs'],
      dtype='object')

In [337]:
#usuwam te kolumny

dane = dane.drop(['act_cins_n_loans_act', 'act_cins_maxdue', 'act_cins_min_pninst',
       'act_cins_min_lninst', 'act_cins_utl', 'act_cins_dueutl', 'act_cins_cc',
       'agr3_Mean_CMaxI_Days', 'ags3_Mean_CMaxI_Days', 'agr3_Max_CMaxI_Days',
       'ags3_Max_CMaxI_Days', 'agr3_Min_CMaxI_Days', 'ags3_Min_CMaxI_Days',
       'agr3_Mean_CMaxI_Due', 'ags3_Mean_CMaxI_Due', 'agr3_Max_CMaxI_Due',
       'ags3_Max_CMaxI_Due', 'agr3_Min_CMaxI_Due', 'ags3_Min_CMaxI_Due',
       'agr3_Mean_CMaxC_Days', 'ags3_Mean_CMaxC_Days', 'agr3_Max_CMaxC_Days',
       'ags3_Max_CMaxC_Days', 'agr3_Min_CMaxC_Days', 'ags3_Min_CMaxC_Days',
       'agr6_Mean_CMaxI_Days', 'ags6_Mean_CMaxI_Days', 'agr6_Max_CMaxI_Days',
       'ags6_Max_CMaxI_Days', 'agr6_Min_CMaxI_Days', 'ags6_Min_CMaxI_Days',
       'agr6_Mean_CMaxI_Due', 'ags6_Mean_CMaxI_Due', 'agr6_Max_CMaxI_Due',
       'ags6_Max_CMaxI_Due', 'agr6_Min_CMaxI_Due', 'ags6_Min_CMaxI_Due',
       'agr6_Mean_CMaxC_Days', 'agr6_Max_CMaxC_Days', 'agr6_Min_CMaxC_Days',
       'agr6_Mean_CMaxC_Due', 'agr6_Max_CMaxC_Due', 'agr6_Min_CMaxC_Due',
       'agr9_Mean_CMaxI_Days', 'agr9_Max_CMaxI_Days', 'agr9_Min_CMaxI_Days',
       'agr9_Mean_CMaxI_Due', 'agr9_Max_CMaxI_Due', 'agr9_Min_CMaxI_Due',
       'agr9_Mean_CMaxC_Days', 'agr9_Max_CMaxC_Days', 'agr9_Min_CMaxC_Days',
       'agr9_Mean_CMaxC_Due', 'agr9_Max_CMaxC_Due', 'agr9_Min_CMaxC_Due',
       'agr9_Mean_CMaxA_Days', 'agr9_Max_CMaxA_Days', 'agr9_Min_CMaxA_Days',
       'agr12_Mean_CMaxI_Days', 'agr12_Max_CMaxI_Days', 'agr12_Min_CMaxI_Days',
       'agr12_Mean_CMaxI_Due', 'agr12_Max_CMaxI_Due', 'agr12_Min_CMaxI_Due',
       'agr12_Mean_CMaxC_Days', 'agr12_Max_CMaxC_Days', 'agr12_Min_CMaxC_Days',
       'agr12_Mean_CMaxC_Due', 'agr12_Max_CMaxC_Due', 'agr12_Min_CMaxC_Due',
       'agr12_Mean_CMaxA_Days', 'agr12_Max_CMaxA_Days', 'agr12_Min_CMaxA_Days',
       'cross_after_monhs'], axis = 1)

print(dane.shape)

(9861, 125)

In [338]:
#zostało 125 kolumn
#jeśli są w nich brakujące wartości, to zastępuję je średnią

dane = dane.fillna(dane.mean())

In [339]:
#określenie targetu, zbioru treningowego i testowego

from sklearn.model_selection import train_test_split
y = dane['default12']
X = dane.drop(['default12'],axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [340]:
#regresja logistyczna

from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(X_train, y_train)
logreg_y_pred = logreg.predict (X_test)
accuracy_logreg = logreg.score(X_test, y_test)
print('Regresja logistyczna: ',accuracy_logreg)

Regresja logistyczna:  0.7826968570462994

In [341]:
#drzewo decyzyjne

from sklearn.tree import DecisionTreeClassifier
dectree = DecisionTreeClassifier()
dectree.fit(X_train , y_train)
dectree_y_pred = dectree.predict(X_test)
accuracy_dectree = dectree.score(X_test, y_test)
print('Drzewo decyzyjne: ',accuracy_dectree)

Drzewo decyzyjne:  0.7005745184183846

In [342]:
#lasy losowe

from sklearn.ensemble import RandomForestClassifier
ranfor = RandomForestClassifier(n_estimators = 100)
ranfor.fit(X_train, y_train)
ranfor_y_pred = ranfor.predict(X_test)
accuracy_ranfor = ranfor.score(X_test, y_test)
print('Lasy losowe: ',accuracy_ranfor)

Lasy losowe:  0.7651233524839472

In [343]:
#k najbliższych sąsiadów

from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(5)
knc.fit(X_train, y_train)
knc_y_pred = knc.predict(X_test)
accuracy_knc = knc.score(X_test, y_test)
print('K najbliższych sąsiadów: ',accuracy_knc)

K najbliższych sąsiadów:  0.6312943562014194

In [344]:
#podsumowanie
#najlepszy wynik dała regresja logistyczna

print('Regresja logistyczna:    ',accuracy_logreg)
print('Lasy losowe:             ',accuracy_ranfor)
print('Drzewo decyzyjne:        ',accuracy_dectree)
print('K najbliższych sąsiadów: ',accuracy_knc)

Regresja logistyczna:     0.7826968570462994
Lasy losowe:              0.7651233524839472
Drzewo decyzyjne:         0.7005745184183846
K najbliższych sąsiadów:  0.6312943562014194