In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#wczytanie danych
dane=pd.read_csv('abt_app.csv',sep='\t',decimal='.')

In [3]:
dane=pd.DataFrame(dane)

In [4]:
dane.head()

,cid,aid,product,period,act_age,act_cc,act_loaninc,app_income,app_loan_amount,app_n_installments,...,default3,default6,default9,default12,default_cross3,default_cross6,default_cross9,default_cross12,cross_app_loan_amount,cross_app_n_installments
0,1330,css1975010100098,css,197501,45.0,0.326905,1.530456,3267.0,5000.0,24.0,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2179,css1975010100120,css,197501,42.0,0.538908,2.903600,1722.0,5000.0,24.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,146,css1975010200014,css,197501,59.0,0.543742,3.364738,1486.0,5000.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5000.0,24.0
3,479,css1975010200047,css,197501,63.0,0.587702,3.236246,1545.0,5000.0,24.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4514,css1975010200151,css,197501,48.0,0.436407,1.506932,3318.0,5000.0,24.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#usunięcie nieistotnych kolumn podanych na zajęciach
dane=dane.drop(['aid','cid','period','cross_aid','default3','default6', 'default9',
                'default_cross3','default_cross6','default_cross9','default_cross12'],axis=1)

In [6]:
dane.head()

,product,act_age,act_cc,act_loaninc,app_income,app_loan_amount,app_n_installments,app_number_of_children,app_spendings,app_installment,...,ags12_Min_CMaxA_Due,act12_n_arrears,act12_n_arrears_days,act12_n_good_days,decision,cross_response,cross_after_monhs,default12,cross_app_loan_amount,cross_app_n_installments
0,css,45.0,0.326905,1.530456,3267.0,5000.0,24.0,3.0,860.0,208.0,...,0.0,10.0,2.0,4.0,A,0.0,NaN,1.0,NaN,NaN
1,css,42.0,0.538908,2.903600,1722.0,5000.0,24.0,1.0,720.0,208.0,...,0.0,0.0,0.0,1.0,A,0.0,NaN,0.0,NaN,NaN
2,css,59.0,0.543742,3.364738,1486.0,5000.0,24.0,2.0,600.0,208.0,...,0.0,4.0,0.0,1.0,A,1.0,4.0,0.0,5000.0,24.0
3,css,63.0,0.587702,3.236246,1545.0,5000.0,24.0,0.0,700.0,208.0,...,0.0,3.0,0.0,4.0,A,0.0,NaN,0.0,NaN,NaN
4,css,48.0,0.436407,1.506932,3318.0,5000.0,24.0,2.0,1240.0,208.0,...,0.0,0.0,0.0,10.0,A,0.0,NaN,1.0,NaN,NaN

In [20]:
#opis danych
dane.describe()

,act_age,act_cc,act_loaninc,app_income,app_loan_amount,app_n_installments,app_number_of_children,app_spendings,app_installment,act_call_cc,...,agr12_Min_CMaxA_Due,ags12_Min_CMaxA_Due,act12_n_arrears,act12_n_arrears_days,act12_n_good_days,cross_response,cross_after_monhs,default12,cross_app_loan_amount,cross_app_n_installments
count,9861.000000,9861.000000,9861.000000,9861.000000,9861.0,9861.0,9861.000000,9861.000000,9861.0,9861.000000,...,7349.000000,9861.000000,9861.000000,9861.000000,9861.000000,9861.000000,3582.000000,9861.000000,3582.0,3582.0
mean,63.011865,0.574579,4.558717,1678.851131,5000.0,24.0,0.677315,622.340533,208.0,1.005164,...,0.025990,0.019369,3.748504,0.124835,5.204442,0.363249,4.132887,0.490417,5000.0,24.0
std,10.860145,0.195733,3.129293,1248.802153,0.0,0.0,0.890063,531.298801,0.0,0.508044,...,0.159116,0.137826,3.550852,0.392026,2.802995,0.480960,0.339500,0.499934,0.0,0.0
min,25.000000,0.065157,0.316857,300.000000,5000.0,24.0,0.000000,0.000000,208.0,0.099325,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,5000.0,24.0
25%,55.000000,0.446023,2.394636,860.000000,5000.0,24.0,0.000000,300.000000,208.0,0.653846,...,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,4.000000,0.000000,5000.0,24.0
50%,63.000000,0.570302,3.422313,1461.000000,5000.0,24.0,0.000000,480.000000,208.0,0.903253,...,0.000000,0.000000,3.000000,0.000000,5.000000,0.000000,4.000000,0.000000,5000.0,24.0
75%,71.000000,0.688906,5.813953,2088.000000,5000.0,24.0,1.000000,760.000000,208.0,1.239478,...,0.000000,0.000000,6.000000,0.000000,7.000000,1.000000,4.000000,1.000000,5000.0,24.0
max,92.000000,1.295238,16.666667,15780.000000,5000.0,24.0,3.000000,8040.000000,208.0,5.299674,...,1.000000,1.000000,12.000000,5.000000,12.000000,1.000000,5.000000,1.000000,5000.0,24.0

In [21]:
print(dane.shape)

(9861, 208)

In [22]:
#usunięcie wierszy z brakującymi wartościami dla targetu, czli kolumny default12
dane = dane.dropna(subset=['default12'])
print(dane.shape)

(9861, 208)

In [43]:
#z opisu widać, że są kolumny, które mają wszędzie te same wartości
#usunę je, bo nie będą istotnym parametrem modelu
#łatwiej usunąć kolumny, niż wybierać te istotne ze wszystkich dostępnych
for i in dane.columns:
    if (dane.std())==0:
        print(i)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [35]:
dane.default12.std()

0.4999335033854244

In [44]:
dane.std()

act_age                       10.860145
act_cc                         0.195733
act_loaninc                    3.129293
app_income                  1248.802153
app_loan_amount                0.000000
app_n_installments             0.000000
app_number_of_children         0.890063
app_spendings                531.298801
app_installment                0.000000
act_call_cc                    0.508044
act_cins_n_loan                0.556647
act_ccss_n_loan                1.695130
act_call_n_loan                1.501966
act_cins_seniority            55.597215
act_cins_min_seniority        24.321042
act_cins_n_loans_hist          2.116327
act_cins_n_statC               1.941251
act_cins_n_statB               1.074865
act_cins_n_loans_act           0.255381
act_cins_maxdue                1.116017
act_cins_min_pninst           10.418801
act_cins_min_lninst           10.211783
act_cins_utl                   0.308220
act_cins_dueutl                0.050038
act_cins_cc                    0.265619
act_ccss_seniority            55.604174
act_ccss_min_seniority        25.054885
act_ccss_n_loans_hist          9.476162
act_ccss_n_statC               8.220222
act_ccss_n_statB               3.378636
                               ...
agr12_Max_CMaxC_Days           1.399972
ags12_Max_CMaxC_Days           1.347504
agr12_Min_CMaxC_Days           2.630634
ags12_Min_CMaxC_Days           2.681042
agr12_Mean_CMaxC_Due           0.406606
ags12_Mean_CMaxC_Due           0.763526
agr12_Max_CMaxC_Due            0.883026
ags12_Max_CMaxC_Due            1.091657
agr12_Min_CMaxC_Due            0.156472
ags12_Min_CMaxC_Due            0.629457
agr12_Mean_CMaxA_Days          0.804401
ags12_Mean_CMaxA_Days          0.951433
agr12_Max_CMaxA_Days           1.309963
ags12_Max_CMaxA_Days           1.216296
agr12_Min_CMaxA_Days           2.387727
ags12_Min_CMaxA_Days           2.527384
agr12_Mean_CMaxA_Due           0.408464
ags12_Mean_CMaxA_Due           0.550359
agr12_Max_CMaxA_Due            0.910002
ags12_Max_CMaxA_Due            1.254930
agr12_Min_CMaxA_Due            0.159116
ags12_Min_CMaxA_Due            0.137826
act12_n_arrears                3.550852
act12_n_arrears_days           0.392026
act12_n_good_days              2.802995
cross_response                 0.480960
cross_after_monhs              0.339500
default12                      0.499934
cross_app_loan_amount          0.000000
cross_app_n_installments       0.000000
Length: 199, dtype: float64

In [61]:
dane.std()==0

act_age                     False
act_cc                      False
act_loaninc                 False
app_income                  False
app_loan_amount              True
app_n_installments           True
app_number_of_children      False
app_spendings               False
app_installment              True
act_call_cc                 False
act_cins_n_loan             False
act_ccss_n_loan             False
act_call_n_loan             False
act_cins_seniority          False
act_cins_min_seniority      False
act_cins_n_loans_hist       False
act_cins_n_statC            False
act_cins_n_statB            False
act_cins_n_loans_act        False
act_cins_maxdue             False
act_cins_min_pninst         False
act_cins_min_lninst         False
act_cins_utl                False
act_cins_dueutl             False
act_cins_cc                 False
act_ccss_seniority          False
act_ccss_min_seniority      False
act_ccss_n_loans_hist       False
act_ccss_n_statC            False
act_ccss_n_statB            False
                            ...
agr12_Max_CMaxC_Days        False
ags12_Max_CMaxC_Days        False
agr12_Min_CMaxC_Days        False
ags12_Min_CMaxC_Days        False
agr12_Mean_CMaxC_Due        False
ags12_Mean_CMaxC_Due        False
agr12_Max_CMaxC_Due         False
ags12_Max_CMaxC_Due         False
agr12_Min_CMaxC_Due         False
ags12_Min_CMaxC_Due         False
agr12_Mean_CMaxA_Days       False
ags12_Mean_CMaxA_Days       False
agr12_Max_CMaxA_Days        False
ags12_Max_CMaxA_Days        False
agr12_Min_CMaxA_Days        False
ags12_Min_CMaxA_Days        False
agr12_Mean_CMaxA_Due        False
ags12_Mean_CMaxA_Due        False
agr12_Max_CMaxA_Due         False
ags12_Max_CMaxA_Due         False
agr12_Min_CMaxA_Due         False
ags12_Min_CMaxA_Due         False
act12_n_arrears             False
act12_n_arrears_days        False
act12_n_good_days           False
cross_response              False
cross_after_monhs           False
default12                   False
cross_app_loan_amount        True
cross_app_n_installments     True
Length: 199, dtype: bool

In [69]:
dane=dane.drop(dane.std()==0)

ValueError: labels [False False False False  True  True False False  True False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False  True False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False  True  True] not contained in axis

TypeError: 'Int64Index' object is not callable